@model DoAn_LTWeb_TRINHCHITAI.Models.Product

@{
    ViewBag.Title = "ThemSP";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@using (Html.BeginForm("ThemSP", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row" style="padding-top:10px">
        <div class="col-2"></div>
        <div class="col-6">
            @Html.LabelFor(model => model.ProductName, "Tên sản phẩm")
            @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-2"></div>
        <div class="col-6">
            @Html.LabelFor(model => model.Description, "Mô tả sản phẩm")
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-2"></div>
        <div class="col-6">
            @Html.LabelFor(model => model.ProductPrice, "Giá sản phẩm")
            @Html.TextBoxFor(model => model.ProductPrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-2"></div>
        <div class="col-6">
            @Html.LabelFor(model => model.Image, "Chọn hình")
            <input type="file" name="imageFile" id="imageFile" class="form-control" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-2"></div>
        <div class="col-6">
            @Html.LabelFor(model => model.CategoryID, "Loại sản phẩm")
            @Html.TextBoxFor(model => model.CategoryID, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-2"></div>
        <div class="col-6">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Thêm SP</button>
        </div>
    </div>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
